<% if session[:notice] %>
  <div><%= session[:notice] %>
<% end %>
<div>
<h3>Welcome to Mall-Recipes<%= ", #{current_user.username}" if is_logged_in %>!</h3>
<% @recipes.each do |recipe| %>
  <h4><a href='/recipes/<%= recipe.id  %>'><%= recipe.name %></a> by <a href='/users/<%= recipe.user.id %>'><%= recipe.user.username if !recipe.user.nil? %></a></h4>
  <!-- <remove 'if' statement later> -->
<% end %>
